token = "y0_AgAEA7qkTgrnAATuwQAAAAD3Z8BlGS4Zk6DuSAixhZGlumuveoBHzTA"
cloud_id = "b1guqjr33dbqk6q7os6f"
folder_id = "b1g8ojge2nm3e9uc0fgs"
zone = "ru-central1-a"
image_id = "fd8ctuqvh5026n96u42k"
public_key_path = "~/.ssh/appuser.pub"
subnet_id = "e9bl1heplmhsvaqlr1ou"
service_account_key_file = "./key.json"
